<%= render 'shared/page_title', title: "Chefs' Listing" %>

<%= will_paginate class: "text-center" %></br>
<div class="container">
  <div class="row">
    <% @chefs.each do |chef| %>
    <ul class="listing mx-auto">
        <div class="text-center">
          <li><%= link_to gravatar_for(chef), chef_path(chef) %></li>
          <li class="chef-title"><%= link_to chef.chefname.capitalize, chef_path(chef) %></li>
          <li><small><%= pluralize(chef.recipes.count, "recipe") if chef.recipes %></small></li>
          <% if logged_in? && current_chef.admin? && !chef.admin?%>
          <li><%= link_to "Delete", chef_path(chef), method: :delete,
            data: {confirm: "Are you shure you want to delete the chef and all associated recipes?"} %></li>
            <% end %>
        </div>
      </ul>
    <% end %>
  </div>
</div>
<%= will_paginate class: "text-center" %>
