<div class="container py-5 bg-light">
  <%= render 'shared/page_title', title: "Chef #{@chef.chefname}'s profile" %>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <div align="center">
        <p class="center"><%= gravatar_for @chef %></p>
      </div>
      <div align='center'><small>Member since <%= time_ago_in_words(@chef.created_at) %> ago</small></div>
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <% if @chef.recipes.count != 0 %>
        <br>
        <h4 align="center"> ContributionS </h4>
        <%= will_paginate @chef_recipes, class: "text-center" %>
        <%= render 'recipes/recipex', obj: @chef_recipes %>
        <%= will_paginate @chef_recipes, class: "text-center" %>
      <% else %>
        <br>
        <h4 align="center"> No recipes yet! </h4>
      <% end %>
    </div>
  </div>
</div>
